/* 
    Document   : custom
    Created on : 4-lug-2013, 15.59.28
    Author     : mauilap
    Description:
       Custom style to add to the main template file
*/

.loader {
    
    display:none;
       
}

.sidebar-form div {
    
    margin: 0 0 5px 0;
    
}


.topics {
    
    width:240px;
    
}

.count-loader{
   
    width:inherit;
    height:20px;
    clear:both;
    
    
}

.submit-loader {
    
    width:inherit;
    height:100px;
    clear:both;
    background:url('/images/loading.gif') no-repeat center;
    
}

.select2-container-multi .select2-choices .select2-search-choice {
       
    background:#716d5d; background:-moz-linear-gradient(top,#817e6e 0%,#716d5d 25%,#666152); background:-webkit-gradient(linear,left top,left bottom,from(#817e6e),color-stop(0.25,#716d5d),to(#666152));
    color:#FFF;
}